.filter-category {
  display: block;
  padding: 20px;
}

.blogposts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 2rem;
  }
  
  img a:hover {
    background: none;
  }
  
  .card {
    background: white;
    box-sizing: content-box;
    margin: 20px;
    width: 200px;
    height: max-content;
    text-align: center;
    padding: 10px;
    box-shadow: -3px 3px 6px var(--main);
  }

  .blogpost img{
    width: 100%;
  }

  .author, .category {
    text-align: left;
    color: var(--main);

  }

  .more-posts {
    margin: 3rem auto;
    border: none;
    box-shadow: -3px 3px 6px var(--main);
  }

  .hidden {
    display: none;
  }