.category_container, .search {
  display: block;
  padding: 20px;
  color: var(--main);
}

.blog_container {
  margin: 3rem;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
  }
  
  img a:hover {
    background: none;
  }
  
  .card {
    background: white;
    box-sizing: content-box;
    margin: 20px;
    width: 200px;
    height: max-content;
    text-align: center;
    padding: 10px;
    box-shadow: -3px 3px 6px var(--main);
  }

  .blogpost img{
    width: 200px;
    height: 120px;
  }

  .author, .category {
    text-align: left;
    color: var(--main);

  }

  .more-posts {
    margin: 3rem auto;
    border: none;
    box-shadow: -3px 3px 6px var(--main);
  }

  .hidden {
    display: none;
  }