.main-post {
    display: block;
    margin: 1rem;
}

.return {
    text-decoration: underline;
}

h1 {
    text-align: left;
}

.post_details {
    display: block;
    padding: 0.5rem;
    color: var(--main);

}

.post_details img {
    width: 100%;
    border-radius: 40px 0;

}

.fullscreen-img {
    border-radius: 40px 0;;
    box-shadow: 0 2px 4px var(--main);
    width: 600px;
    max-width: 100%;
}

.modal-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
