.blog_info {
    background-color: #5D157E;
    padding: 30px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
}

.statement {
    display: block;
    padding: 10px;
    color: #5D157E;
    font-size: 2em;
    font-style: italic;
    text-align: center;
  }

  .blogposts-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .blogpost_card {
    background: white;
    box-sizing: content-box;
    margin: 20px;
    width: 200px;
    height: max-content;
    text-align: center;
    padding: 10px;
  }

  .strength_main, .nutrition_main, .lifestyle_main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .strength_main img, .nutrition_main img, .lifestyle_main img {
    width: 100%;
  }

  .strengt_info, .nutrition_info, .lifestyle_info {
    padding: 20px;
  }

  .strengt_info {
    background-color: #e1eea8;
  }

  .nutrition_info {
    background-color: #fcd0d3;
  }

  .lifestyle_info {
    background-color: #bff5f8;
  }