a {
    text-decoration: none;
    cursor: pointer;
  }
  
  nav ul li a,
  footer a {
    color: #103444;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .active,
  nav li a:hover {
    background: #103444;
    color: white;
    transition: 0.5s;
    border-radius: 3px;
  }
  
  footer a {
    display: block;
    max-width: 100px;
    color: white;
  }
  
  .footer_navigation a:hover {
    border: white 1px solid;
  }

  .cta {
    background-color: #103444;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
  }